* {
  box-sizing: border-box;
  font-family: monospace, arial;
}

html {
  background-color: #3e4a61;
}

header {
  background-color: #1a2639;
  color: #c24d2c;
  position: static;
  margin-top: -20px;
  border: solid 1px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #c24d2c;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #1a2639;
  border: solid 1px #c24d2c;
}

.qcard_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qcard {
  width: 85vw;
  border: solid 1px #c24d2c;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #c24d2c;
  position: relative;
  margin: 15px;
  background-color: #1a2639;
  color: #d9dad7;
  padding: 8px;
}

.qcard svg {
  position: absolute;
  right: 10px;
  top: -1px;
  font-size: 3em;
}

.qcard p {
  color: #d9dad7;
}

.qcard-answerbutton {
}

.qcard-answer {
}

.qcard-taglist {
  list-style-type: none;
}

.qcard li {
  display: inline;
  border: dotted 2px #3e4a61;
  padding: 3px;
  margin-right: 5px;
}

.navmenu {
  list-style-type: none;
}

.navmenu li {
  display: inline;
}

a > svg {
  font-size: 60px;
}
