:root {
  --primecolor-white: #d9dad7;
  --primecolor-light: #3e4a61;
  --primecolor-dark: #1a2639;
  --primecolor-orange: #c24d2c;
}

* {
  box-sizing: border-box;
  font-family: monospace, arial;
}

html {
  background-color: var(--primecolor-light);
}

header {
  background-color: var(--primecolor-dark);
  color: var(--primecolor-orange);
  position: static;
  margin-top: -20px;
  border: solid 1px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px var(--primecolor-orange);
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: var(--primecolor-dark);
  border: solid 1px var(--primecolor-orange);
}

.qcard_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qcard {
  width: 85vw;
  border: solid 1px var(--primecolor-orange);
  border-radius: 15px;
  box-shadow: 3px 3px 3px var(--primecolor-orange);
  position: relative;
  margin: 15px;
  background-color: var(--primecolor-dark);
  color: var(--primecolor-white);
  padding: 8px;
}

.qcard__bookmark {
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 2em;
}

.qcard__question {
  color: var(--primecolor-white);
}

.qcard__answer {
  color: var(--primecolor-orange);
}

.qcard__buttonAnswer {
  background-color: var(--primecolor-light);
}

.qcard__hideMe {
  display: none;
}

.qcard__taglist {
  list-style-type: none;
}

.qcard__taglist li {
  display: inline;
  border: dotted 2px var(--primecolor-light);
  padding: 3px;
  margin-right: 5px;
}

.navmenu {
  list-style-type: none;
}

.navmenu li {
  display: inline;
}

a > svg {
  font-size: 60px;
}
